<?xml version="1.0" encoding="UTF-8"?>

<suite name="Loan Department" parallel="tests" thread-count="6">
	<!--MENDATORY-->
	<listeners>
		<listener class-name = "test.Listeners"/>
	</listeners>
	<test name="Personal Loan">
		<parameter name="URL" value="www.HomeLoan.com" />

		<classes>
			<class name="test.Day1">
				<methods>
					<exclude name="test2" />
				</methods>
			</class>
			<class name="test.Day2" />
			<class name="test.Day4">
				<methods>
					<include name="MobileLoginHomeLoan" />
				</methods>
			</class>
		</classes>
	</test> <!--DemoTest -->
	<test name="Car Loan">
		<parameter name="URL" value="www.CarLoan.com" />
		<parameter name="APIkey" value="123456" />
		<classes>
			<class name="test.Day3">
				<methods>
					<exclude name="Login.*" />
					<!--<exclude name="MobileLoginCarLoan" /> -->
				</methods>
			</class>
		</classes>
	</test> <!--
	DemoTest -->
</suite> <!--
Suite -->
